a.navbar-brand{
    max-width: 130px;
}

.select2-container {
    max-width: 90% !important;
}
.profile_card .card-body{
    cursor: pointer;
}

.card-footer ul li{
    list-style: none;
}

.card-footer ul li a {
    color: #fff;
}
.card-footer ul li a:hover{
    font-weight: 700;
}

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    display: flex;
    align-items: center;
}

.input-group .select2-container--default .select2-selection--single {
    border-radius: 0 4px 4px 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    width: 100%;
}

.input_table{
    width: 100% !important;
}

